In [10]:
import pandas as pd
import numpy as np

In [11]:
PATH_TO_CSV = "../../livia_computacao/dados_pre_processados/alunos_computacao.csv"
df_alunos = pd.read_csv(PATH_TO_CSV)

In [12]:
def generate_id(s):
    return abs(hash(s)) % (10 ** 10)

df_alunos['id'] = df_alunos['matricula'].apply(generate_id)

In [13]:
df_alunos = df_alunos.drop(["cpf"], axis=1)
# antes de retirar a coluna de matricula eh necessario fazer join com as outras tabelas
#df_alunos = df_alunos.drop(["matricula"], axis=1)

df_alunos

,codigo_curriculo,codigo_ingresso,periodo_ingresso,forma_ingresso,codigo_evasao,forma_evasao,periodo_evasao,evadiu_periodo,forma_saida,acao_afirmativa,...,forma_reserva_vagas,sexo,codigo_cor,nome_cor,idade_ingresso,idade_evasao,tipo_ensino_medio,ensino_medio,apv_media_geral,id
0,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,Não,...,Sem Reserva De Vagas,Masculino,0,Não declarada,18,22.0,NaN,Não informado,581.00,183110305
1,1979,1,1984.1,VESTIBULAR,1,GRADUADO,1988.2,10.0,Graduado,Não,...,Sem Reserva De Vagas,Masculino,0,Não declarada,19,23.0,NaN,Não informado,640.00,184110102
2,1979,1,1984.1,VESTIBULAR,1,GRADUADO,1987.2,8.0,Graduado,Não,...,Sem Reserva De Vagas,Feminino,0,Não declarada,0,0.0,NaN,Não informado,818.00,184110103
3,1979,1,1977.2,VESTIBULAR,1,GRADUADO,1982.2,11.0,Graduado,Não,...,Sem Reserva De Vagas,Masculino,0,Não declarada,23,28.0,NaN,Não informado,538.00,177210160
4,1979,1,1979.2,VESTIBULAR,1,GRADUADO,1985.2,13.0,Graduado,Não,...,Sem Reserva De Vagas,Feminino,0,Não declarada,21,27.0,NaN,Não informado,481.00,179210019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3951,2017,18,2016.1,SISU,0,REGULAR,0.0,NaN,Regular,Não,...,Sem Reserva De Vagas,Masculino,3,Parda,18,NaN,1.0,Somente escola privada,699.48,116110367
3952,2017,18,2016.1,SISU,0,REGULAR,0.0,NaN,Regular,Não,...,Sem Reserva De Vagas,Masculino,1,Branca,18,NaN,1.0,Somente escola privada,698.02,116110745
3953,2017,18,2016.1,SISU,0,REGULAR,0.0,NaN,Regular,Sim,...,Escola Renda,Masculino,1,Branca,20,NaN,2.0,Somente escola pública,681.34,116110612
3954,2017,18,2016.1,SISU,0,REGULAR,0.0,NaN,Regular,Sim,...,Escola Renda Cor,Masculino,3,Parda,19,NaN,2.0,Somente escola pública,621.88,116110409
3955,2017,18,2016.1,SISU,0,REGULAR,0.0,NaN,Regular,Não,...,Sem Reserva De Vagas,Masculino,1,Branca,18,NaN,1.0,Somente escola privada,728.80,116110520